<!DOCTYPE html>
<html>
     <head>
         <meta charset="utf-8">
         <title>Cat Shop</title>
         <link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.min.css">
     </head>

    <body>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">Cat Shop Unlimited</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/noncombat">Non-combat Pets</a></li>
              <li><a href="/combat">Combat Pets</a></li>
            </ul>
          </div>
        </nav>
    <body>
        {{{body}}}
    </body>
</html>