<p class="border border-info h1">Combat Cats</p>
<ul class="list-group">
  <li class="list-group-item"><a href="details/bengaltiger">Bengal Tiger</a></li>
  <li class="list-group-item"><a href="details/silvermoonstalker">Silver Moonstalker</a></li>
  <li class="list-group-item"><a href="details/obiwancatnobe">Obi-Wan Cat-No-Be</a></li>
</ul>