<div class="border border-info h1">
<p>Home</p>
</div>
<div class="h1">
<p>Welcome to our totally legal cat selling service, which definitely does not involve any kind of criminal activity whatsoever!
You can trust us.</p>
<p>The cats we sell to you were in no way, shape or form stolen, abducted, embezzled, kidnapped, or unlawfully stripped off from their original owners.
Some of them may have been.... err... liberated from the people who previously possessed them, but DON'T judge, OK!?
It's desperate times and desperate times call for desperate measures!</p>
<p>How dare you look down on us like a bunch of treacherous miscreant thieves?!
HOW ABOUT YOU GET OFF YOUR MORAL HIGH-HORSE FOR ONE SECOND AND WALK A MILE IN A COMMON PERSON'S SHOES?!
NO? Thought so much! It's so much easier being born with a silver spoon in your mouth, isn't it!?
YOU BASTARD! I'M GONNA K...</p>
<p>Errr.. what I meant to say was - welcome to our website :) Feel free to peruse our content to your heart's content. Wait, that sounded stupid..... or did it?<p>
</div>