<p class="border border-info h1">Non-combat Cats</p>
<ul class="list-group">
  <li class="list-group-item">Fluffy String Chaser</li>
  <li class="list-group-item">Lithe Conceited Purrer</li>
  <li class="list-group-item">Cuddly Indifferent A-Hole</li>
</ul>